<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="ESP8266Code - Snippets and Tutorials for ESP8266">
    <meta name="keywords" content="esp8266, tutorials, guides, code, microcontroller">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <title>Esp8266Code - Snippets and Tutorials for ESP8266</title>
    <link rel="stylesheet" href="/terminal.min.css" />
  </head>
  <body class="terminal">
    <div class="container">
      <div class="terminal-nav">
        <header class="terminal-logo">
          <div class="logo terminal-prompt"><a href="/" class="no-style">ESP8266 Code</a></div>
        </header>
        <nav class="terminal-menu">
          <ul>
            <li>
              <form action="/search">
                <input name="search" type="text" minlength="3" placeholder="Search">
              </form>
            </li>
          </ul>
        </nav>
      </div>

      <h1>Welcome!</h1>

      <p>Hey there, welcome to ESP8266Code, a tiny website all about ESP8266 tutorials! If you're not sure what that is, it's a super cool Wi-Fi enabled microcontroller that's perfect for all sorts of IoT projects.</p>
      <p>ESP8266Code will be packed with easy-to-follow tutorials on ESP8266, whether you're a total beginner or an experienced maker.</p>
      <p>Hopefully, it'll be handy to all of you guys as a repo of snippets and tutorials that we typically search over and over again.</p>
      <p>Enjoy!</p>

      <h2>Latest posts:</h2>

      $body$

      <p style="margin-top: 4rem">Made with ❤️ by <a href="https://github.com/Mikepicker">Mikepicker</a></p>
    </div>
  </body>
</html>


