<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="ESP8266Code - Snippets and Tutorials for ESP8266">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search articles</title>
    <link rel="stylesheet" href="/terminal.min.css" />
  </head>
  <body class="terminal">
    <div class="container">
      <div class="terminal-nav">
        <header class="terminal-logo">
          <div class="logo terminal-prompt"><a href="/" class="no-style">ESP8266 Code</a></div>
        </header>
        <nav class="terminal-menu">
          <ul>
            <li>
              <form action="/search">
                <input name="search" type="text" minlength="3" placeholder="Search">
              </form>
            </li>
          </ul>
        </nav>
      </div>

      <h1>Search results:</h1>
      $body$

      <p style="margin-top: 4rem">Made with ❤️ by <a href="https://github.com/Mikepicker">Mikepicker</a></p>
    </div>
  </body>
</html>

